Options -Indexes

RewriteEngine On

<IfModule mod_php.c>
php_value upload_max_filesize 64M
php_value post_max_size 128M
php_value max_file_uploads 10
</IfModule>

# -----------------------------
# FORCE HTTPS
# -----------------------------
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://new.getaroundmobility.com%{REQUEST_URI} [L,R=301]

# -----------------------------
# CLEAN URL ROUTING
# -----------------------------
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.php [QSA,L]